<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Overview"></Label>
</ActionBar>
<Timeline (timelineChange)="update($event)" class="page-content" (loaded)="loaded($event)"
    (unloaded)="unloaded($event)">
    <ng-template>
        <GridLayout [style.height]="(transactions && transactions.length > 0) ? 'auto': 0" rows="250, *">
            <StackLayout row="0">
                <RadPieChart [@pop]="chartPop">
                    <DonutSeries *ngFor="let c of categories" tkPieSeries seriesName="customPalette"
                        selectionMode="none" expandRadius="0.4" outerRadiusFactor="0.8" innerRadiusFactor="0.4"
                        valueProperty="amount" legendLabel="name" [items]="source">
                    </DonutSeries>
                    <Palette tkPiePalette seriesName="customPalette">
                        <PaletteEntry *ngFor="let c of overviewCategories" tkPiePaletteEntry strokeWidth="0"
                            [fillColor]="c.color">
                        </PaletteEntry>
                    </Palette>
                </RadPieChart>

            </StackLayout>
            <StackLayout row="0" class="pan-layer">
                <Label height="250" (tap)="!!false" text=""></Label>
            </StackLayout>
            <StackLayout class="categories" row="1">
                <ListView (pan)="onPan($event)" [items]="overviewCategories | validCategories" class="list-group"
                    separatorColor="#CCC">
                    <ng-template let-item="item">
                        <FlexboxLayout (tap)="!!false" ripple flexDirection="row" alignItems="center"
                            class="list-group-item">
                            <StackLayout [style.background]="item.color" class="image-box">
                                <Image src="{{getIconPath(item)}}" class="icon" height="30" width="30" decodeWidth="50"
                                    decodeHeight="50" loadMode="async"></Image>
                            </StackLayout>
                            <FlexboxLayout flexGrow="1" class="item item-group" flexDirection="column">
                                <Label class="sub-item heading" flexGrow="1" [text]="item.name"></Label>
                            </FlexboxLayout>
                            <Label class="sub-item chip text-right" [style.background]="green" flexGrow="0"
                                [text]="item.transactionsTotal"></Label>
                            <Label width="75" class="amount item text-right" flexGrow="0"
                                [text]="item.amount | currency">
                            </Label>
                        </FlexboxLayout>
                    </ng-template>
                </ListView>
            </StackLayout>
        </GridLayout>
        <ng-template #noData>
            <GridLayout class="placeholder">
                <Label class="page-icon fa" text="&#xf057;"></Label>
                <Label class="page-placeholder" text="No Transactions here."></Label>
            </GridLayout>
        </ng-template>
    </ng-template>
</Timeline>
