<ActionBar class="action-bar">
	<Label class="action-bar-title" text="Transaction"></Label>
</ActionBar>
<RadDataForm tkExampleTitle tkToggleNavButton [source]="transaction" [metadata]="metadata">
	<!-- <TKEntityProperty tkDataFormProperty name="categoryId" displayName="Category" index="0"
		[valuesProvider]="categoriesNames()">
		<TKPropertyEditor tkEntityPropertyEditor type="Picker"></TKPropertyEditor>
	</TKEntityProperty>
	<TKEntityProperty tkDataFormProperty name="datetime" displayName="Date" index="1">
		<TKPropertyEditor tkEntityPropertyEditor type="DatePicker"></TKPropertyEditor>
	</TKEntityProperty>
	<TKEntityProperty tkDataFormProperty name="amount" displayName="Amount" index="2">
		<TKPropertyEditor tkEntityPropertyEditor type="Decimal"></TKPropertyEditor>
	</TKEntityProperty>
	<TKEntityProperty tkDataFormProperty name="notes" displayName="Notes" index="3">
		<TKPropertyEditor tkEntityPropertyEditor type="MultilineText"></TKPropertyEditor>
	</TKEntityProperty> -->
</RadDataForm>
<FAB (tap)="save()" rippleColor="#f1f1f1" icon="~/app/images/tick.png" class="fab-button"></FAB>
